{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "plugins": ["react"],
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["error", "self"],
    "constructor-super": "error",
    "curly": ["error", "all"],
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "linebreak-style": ["error", "unix"],
    "max-nested-callbacks": ["error", 2],
    "new-cap": "error",
    "no-alert": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-confusing-arrow": "error",
    "no-console": "error",
    "no-debugger": "error",
    "no-dupe-keys": "error",
    "no-empty": "error",
    "no-eq-null": "error",
    "no-extra-semi": "error",
    "no-inline-comments": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "off",
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-nested-ternary": "error",
    "no-obj-calls": "error",
    "no-param-reassign": "off",
    "no-plusplus": "error",
    "no-self-compare": "error",
    "no-shadow": "error",
    "no-spaced-func": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-vars": "error",
    "no-void": "error",
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "double", "avoid-escape"],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "asyncArrow": "always",
      "named": "never"
    }],
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "template-curly-spacing": ["error", "never"]
  }
}
